/* Estils actualitzats per a una millor presentació */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0762DA;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #ddd;
}
section {
    padding: 20px;
}
article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

article h2 {
    margin-top: 0;
}

h2, p {
    display: inline-block; /* Permite que el texto y la imagen estén en la misma línea */
    vertical-align: top; /* Alinea el texto en la parte superior */
}

img {
    display: inline-block; /* Hace que la imagen esté en línea con el texto */
    max-width: 25%; /* Mantiene el tamaño de la imagen */
    height: auto;
    margin-right: 20px; /* Espacio entre el texto y la imagen */
}


.contact-form {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.contact-form input, .contact-form textarea, .contact-form select {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
.contact-form button {
    background-color: #0762DA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estils per al peu de pàgina */
footer {
    
    background-color: #0762DA;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}