
* {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    color: white;
    padding: 120px;
    text-align: center; /*CENTRE EL TEXT AL MIG*/
    background-image: url(/exercicis/ex2/multimedia/capçalera/Coldplay.jpg);
    background-size: contain;
    background-position: center;
    /*ESTILS PEL TEXTE*/
    font-size: 25px; /*MIDA DEL TEXT*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /*SOMBREJAT AL TEXTE*/
   
}

.coldplay {
    border: 1px dashed;
    background-color: lightblue;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

/*FLEX AL CONTENIDOR PARE*/
.flex-container {
    display: flex;
    flex-flow: column wrap;
}

div {
    border: 1px solid black;
}

/*ESTILS PELS VIDEOS*/
video {
    width: 300px;
    height: auto;
}